.apps {
  width: 100%;
  min-height: 270px;
  background: @apps-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
  z-index: 1;
  @media (min-width: 660px) {
    width: 53%;
    background: transparent;
    min-height: 300px;
  }
  @media (min-width: 1200px) {
    padding: 8px 74px 8px 0;
    align-items: center;
  }
  &__row {
    display: block;
    text-align: center;
    vertical-align: middle;
    &--text {
      font-size: @text-font-size;
      color: white;
      line-height: 1.5;
      @media (min-width: 660px) {
        font-size: @base-font-size;
      }
    }
  }
  &__download {
    text-align: left;
  }
  &__download-btn {
    font-size: @base-font-size;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 30px;
    background: transparent;
    width: 280px;
    height: 53px;
    @media (min-width: 1200px) {
      width: 300px;
      font-size: @reviews-tablet-font-size;
    }
  }
}
