.checkbox {
  display: flex;
  font-size: @base-font-size;
  color: @text-color;
  align-items: center;
  padding-bottom: @padding - 3;
  position: relative;
  &__control {
    padding: @padding 0 @padding @padding*3;
    input[type=checkbox] {
      display: none;
      &:checked + label::before {
        background: url("../img/check.png") center no-repeat;
      }
    }
    @media (min-width: 1200px) {
      padding: 20px 0 20px 48px;
    }
  }
  label {
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      transform: translate(-50%, -16%);
      left: 8%;
      padding: @padding - 2;
      height: auto;
      .main-border ();
      @media (min-width: 660px) {
        left: 4%;
      }
    }
  }

  @media (min-width: 1200px) {
    margin-right: 66px;
  }
  &--margin {
    @media (min-width: 1200px) {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}
