@import "variables";
@import "mixins";

.download-btn {
  border-bottom: 2px solid @input-border-color;
  padding-bottom: @padding + 10;
  & button {
    .main-border;
    padding: 16px 60px;
    background: white;
    text-transform: uppercase;
  }
}
