.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: @padding 0;
  &__row {
    padding: @padding;
  }
  @media (min-width: 660px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  @media (min-width: 1200px) {
    padding: 20px 107px;
    width: 1200px;
    margin: 0 auto;
  }
}
