.form-container {
  padding: 26px 20px 39px;
  @media (min-width: 660px) {
    padding-bottom: 19px;
  }
  @media (min-width: 1200px) {
    padding: 0;
  }
  &__group {
    border: none;
    padding: 0;
    @media (min-width: 660px) {
      border: 2px solid #e5e5e5;

      &--border-none {
        border: none;
        padding: 0;
        margin: 0;
        @media (min-width: 1200px) {
          display: block;
          white-space: nowrap;
          padding-bottom: 48px;
        }
      }

      &--radio {
        padding: 6px 56px 31px;
        margin-bottom: 10px;
        @media (min-width: 1200px) {
          display: block;
          white-space: nowrap;
          margin-bottom: 54px;
        }
        @media (min-width: 1200px) {
          padding: 6px 0 31px 67px;
        }
      }

      &--fellow {
        @media (min-width: 660px) {
          padding: 6px 0 25px 56px;
          margin-bottom: 17px;
        }
        @media (min-width: 1200px) {
          padding: 6px 56px 49px;
          margin-bottom: 57px;
        }
      }

      &--check {
        padding: 6px 56px 25px;
        @media (min-width: 1200px) {
          padding: 6px 0 25px 68px;
          margin-bottom: 56px;
        }
      }

      &--gallery {
        padding: 6px 56px 0;
        margin-bottom: 27px;
        @media (min-width: 1200px) {
          padding: 6px 0 26px 56px;
          margin-bottom: 30px;
        }
      }

    }
  }
  &--fellow {
    padding: @padding + 5 @padding @padding+25;
  }
  &--gray {
    background: @bg-gray-color;
    @media (min-width: 660px) {
      background-color: white;
    }
  }
  &--padding {
    padding-bottom: 40px;
    @media (min-width: 660px) {
      padding-bottom: 30px;
    }
    @media (min-width: 1200px) {
      padding-bottom: 58px;
    }
  }
  &--gallery {
    margin-bottom: 11px;
    padding: 26px 14px 0 20px;
    @media (min-width: 1200px) {
      padding: 0;
    }
  }
  &--submit {
    padding-bottom: 0;
    @media (min-width: 660px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 20px 38px;
    }
    @media (min-width: 1200px) {
      padding-bottom: 13px;
      padding-left: 0;
    }
  }
  &__title {
    .text-style ();
    text-align: center;
    padding: 0 20px;
    margin-bottom: 26px;
    &--important {
      &:after {
        content: " *";
      }
    }
    &--padding {
      padding: 0;

    }
    &--margin-bottom {
      margin-bottom: @margin + 22;
      @media (min-width: 660px) {
        margin-bottom: 32px;
      }
      @media (min-width: 1200px) {
        margin-bottom: 34px;
      }
    }
  }
  &--check {
    padding: 19px 20px 30px;
    @media (min-width: 1200px) {
      padding: 0;
    }
  }
  &__layout {
    @media (min-width: 660px) {
      display: block;
      padding: 0 50px 7px;
    }
    @media (min-width: 1200px) {
      white-space: nowrap;
      padding: 0 34px 0 42px;

    }
  }
}

.form-container {
  &__label {
    .text-style ();
    padding: 12px @padding;
    vertical-align: bottom;
    &--radio {
      color: @text-color;
      text-transform: none;
      font-size: @base-font-size;
      label {
        cursor: pointer;
      }
    }
    &--important {
      &:after {
        content: ' *';
      }
    }
    &--center {
      text-align: center;
      @media (min-width: 660px) {
        text-align: left;
      }
    }
    &--desktop-center {
      text-align: center;
    }
  }
  &__fellow-number {
    display: inline-block;
    margin-bottom: 8px;
    @media (min-width: 660px) {
      margin-right: 12px;
      margin-bottom: 0;
    }
    @media (min-width: 1200px) {
      margin-right: 19px;
      margin-bottom: 0;
    }
  }
  &__fellow-name {
    display: inline-block;
    width: 77%;
    margin-bottom: 8px;
    @media (min-width: 660px) {
      margin-right: 46px;
      width: 54%;
    }
    @media (min-width: 1200px) {
      margin-right: 22px;
      margin-bottom: 0;
      width: 36%;
    }
    &--margin-left {
      margin-left: 61px;
      @media (min-width: 660px) {
        margin-left: 81px;
      }
      @media (min-width: 1200px) {
        margin: 0 54px 0 0;
      }
    }
  }
}

.form-container {
  &__control {
    input[type=text] {
      background-color: transparent;
      width: 100%;
      padding: 17.5px;
      border: 2px solid #e5e5e5;
      .main-border ();
      cursor: pointer;

      &:hover{
        border: 2px solid @mail-hover-color;
      }
      &:active{
        border: 2px solid @radio-color;
      }
    }
    &--radio {
      border: none;
      padding-left: 60px;
      label {
        cursor: pointer;
        &::before {
          content: '';
          position: absolute;
          background-color: white;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          left: 6%;
          transform: translate(-50%, -15%);
          border: 10px solid white;
          box-shadow: 0 0 2px rgba(0, 0, 0, .8);
          @media (min-width: 660px) {
            left: 4%;
          }
        }
        &:hover{
          &:before{
            box-shadow: 0 0 0 2px @mail-hover-color;
          }
        }
        &:active{
          &:before{
            box-shadow: 0 0 0 2px @radio-color;
          }
        }
      }
      @media (min-width: 1200px) {
        padding-left: 52px;
      }
    }
    input[type=radio] {
      display: none;
      &:checked + label::before {
        content: '';
        background: @radio-color;
      }
    }
    &--btn {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      padding: 0;
      border: none;
      height: 63px;
      button {
        width: 28px;
        padding: 0 30px;
        background-color: white;
        .main-border ();
        background: url("../img/plus.png") center no-repeat;
        &:first-child {
          background-image: url("../img/minus.png");
        }
      }
    }
    &--gray {
      background-color: @bg-gray-color;
    }
  }

  .form-container {
    &__control {
      &--fellow-count {
        background-color: white;
        @media (min-width: 660px) {
          padding: 17px 28px;

        }
      }
      &--fellow-number {
        padding: 17.5px  25px;
        .main-border ();
        border-right:none ;
        @media (min-width: 660px) {
          border-right: 2px solid @input-border-color;
        }
      }
      &--border-none {
        @media (min-width: 660px) {
          width: 50%;
        }
        @media (min-width: 1200px) {
          width: 31.9%;
          padding-right: 8px;
        }
      }
    }

    &__btn-item {
      width: 47%;
      &--border-none {
        input[type=text]{
        @media (min-width: 660px) {
          border: none;
        }
      }
      }
      input[type=text] {
        text-align: center;
        border-right: none;
        border-left: none;
        &:hover{
          border: 2px solid @mail-hover-color;
        }
        &:active{
          border: 2px solid @radio-color;
        }
      }
    }
  }
}

.form-container {
  &__form {
    margin-bottom: @margin - 11;
    &--radio {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      margin-bottom: 17px;
      @media (min-width: 1200px) {
        padding: 0;
        margin-right: 30px;
      }
    }
    &--fellow {
      border-bottom: 2px solid @input-border-color;
      padding-bottom: @padding*2 + 12;
      margin-bottom: @padding;
      @media (min-width: 660px) {
        padding-bottom: 43px;
      }
    }
    &--fellow-inner {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      @media (min-width: 660px) {
        display: block;
        text-align: left;
        white-space: normal;
      }
      @media (min-width: 1200px) {
        display: flex;
        justify-content: flex-start;
        margin-bottom: -5px;
      }
    }
    &--wrapper {
      margin-bottom: @margin + 1;
      display: flex;
      justify-content: flex-end;
      align-items: stretch;
      flex-direction: column;
      @media (min-width: 660px) {
        margin-bottom: 12px;
      }
    }
    &--inline {
      @media (min-width: 660px) {
        display: inline-block;
        width: 49%;
        padding: 0 6px 13px 13px;
      }
      @media (min-width: 1200px) {
        width: 31.9%;
        padding: 0 16px 0 13px;
        margin-right: 12px;
      }
    }
    &--inline-desktop {
      @media (min-width: 1200px) {
        display: inline-block;
        width: 31.9%;
        padding: 0;
      }
    }
    &--center {
      @media (min-width: 1200px) {
        margin: 0 14px;
      }
    }
  }
  &__delete {
    display: none;
    @media (min-width: 660px) {
      display: inline-block;
    }
    @media (min-width: 1200px) {
      order: 5;
      padding-top: 35px;
    }
    a {
      @media (min-width: 660px) {
        color: black;
        text-transform: uppercase;
        font-size: @text-font-size;
      }
      &:hover{
        color: @radio-color;
        text-decoration: underline;
      }
      &:active{
        text-decoration: none;
        opacity: 0.3;
      }
    }
  }
  &__checkbox-layout {
    @media (min-width: 1200px) {
      display: inline-block;
    }
  }
}
