html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  text-decoration: none;
}

body {
  font-family: @base-font-family;
  font-size: @base-font-size;
}

.page-wrapper {
  width: 320px;
  @media (min-width: 660px) {
    width: 660px;
  }
  @media (min-width: 1200px) {
  width: 1200px;
}
}
