.logo {
  display: inline-block;
  text-align: left;
  vertical-align: super;
  overflow: hidden;
  &__item {
    &:hover {
      .pink {
        &__text {
          fill: @radio-color;
        }
        &__glasses {
          fill: @radio-color;
        }
      }
    }
    &:active {

      .pink {
        &__text {
          opacity: 0.3;
          fill: white;
        }
        &__glasses {
          opacity: 0.3;
          fill: white;
        }
        &__stars {
          opacity: 0.3;
        }
      }
    }
    &--footer {
      &:active {
        .pink {
          &__text {
            fill: black;
          }
          &__glasses {
            fill: @radio-color;
          }
        }
      }
    }
  }
}
