.main-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  &__item {
    color: white;
    font-size: @base-font-size;
    margin-left: 69px;
    &:hover{
      border-bottom: 2px solid white;
    }
    &:active{
      opacity: 0.3;
      text-decoration: none;
    }
  }
}
