.main-menu {
  display: inline-block;
  white-space: nowrap;
  &__item {
    color: white;
    font-size: @base-font-size;
    margin-right: 67px;
    &:hover{
      border-bottom: 2px solid white;
    }
    &:active{
      opacity: 0.3;
      text-decoration: none;
    }
  }
}
