.page-content {
  &__title {
    text-align: center;
    padding: @padding + 3 @padding + 4 0;
    margin-top: @margin;
    h2 {
      font-size: @text-font-size;
      color: @text-color;
      line-height: 2.3;
      letter-spacing: -1px;
      margin: 0;
      @media (min-width: 660px) {
        font-size: 50px;
      }
    }
    &--tablet {
      @media (min-width: 660px) {
        h2 {
          font-size: @base-font-size;
          padding: 53px 30px 10px;
          line-height: 1.4;
        }
      }
    }
    @media (min-width: 1200px) {
      padding-bottom: 54px;
    }
  }
  &__text {
    display: none;
    @media (min-width: 660px) {
      display: block;
      text-align: center;
      padding-bottom: 6px;
    }
    @media (min-width: 1200px) {
      display: inline;
    }
    h2 {
      @media (min-width: 660px) {
        margin: 0;
        font-size: @base-font-size;
        color: @text-color;
        padding: 0;
      }

    }
  }
  @media (min-width: 1200px) {
    padding: 0 128px;
  }
}
