.research{
  display: none;
  @media (min-width: 660px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 34px 20px 23px;
  }
  &__img{
    background: url("../img/timer.png") no-repeat;
    width: 126%;
    height: 301px;
    padding-right: @padding*3 + 12;
  }
  &__title{
    font-size: @logo-font-size;
    font-weight: bold;
    line-height: 1;
  }
  &__inner{
  padding: @padding;
}
  &__text{
    font-size: @text-font-size;
    color: @text-color;
    padding: @padding/2 0;
  }
  &__link{
    a{
      font-size: @text-font-size;
      text-decoration: underline;
      color: @contacts-color;
    }
  }
}
