.submit-btn {
  padding: 10px 0 19px;
  text-align: center;
  input[type=submit] {
    background: transparent;
    padding: @padding - 1 @padding + 30;
    background: @submit-color;
    color: white;
    text-transform: uppercase;
    border: 1px solid @submit-color;
    border-radius: 5px;
  }
}
