.toggle {
  display: block;
  text-align: right;
  height: 24px;

  &__burger{
    display: block;
    &.open{
      display: none;
    }
  }
  &__close{
    display: none;
    img{
      width: 24px;
    }

  }
  @media (min-width:1200px ) {
    display: none;
  }
}
